<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WLESS_CHRG_CTRL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WLESS_CHRG_CTRL.Properties.Settings>
            <setting name="BannedPorts" serializeAs="String">
                <value>COM4;COM5;COM24;COM27</value>
            </setting>
            <setting name="SerialBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="SerialDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value>One</value>
            </setting>
        </WLESS_CHRG_CTRL.Properties.Settings>
    </userSettings>
</configuration>